<div class="row alertmedia">
    <div class="col-xs-6">
      <h3 style="margin-top: 5px;">Software Engineer, AlertMedia Inc</h3>
      <h3 style="margin-top: 0px">04/2020 - Present</h3>
    </div>
    <div class="col-xs-6">
      <h3 style="margin-top: 5px;">Austin - Texas.</h3>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p style="margin-top:15px;">
        Helping building the company new features from the backend with <b>Django Rest Framework</b> to the front-end
        with <strong>AngularJs</strong> and <strong>ReactJs</strong>
     </p>
  </div>
</div>