<div class="row brp">
    <div class="col-xs-6">
      <h3 style="margin-top: 5px;">Python Developer, BRP Inc</h3>
      <h3 style="margin-top: 0px">08/2014 - 03/2017</h3>
    </div>
    <div class="col-xs-6">
      <h3 style="margin-top: 5px;">Montreal-Canada.</h3>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p style="margin-top:15px;">
      Develop new features and maintain the enterprise intranet in an
      <strong>Agile</strong> environment.Use <strong>Django Framework</strong> in developing web applications
      to implement the model view control architecture.
      Implementation of the <strong>UI</strong> and <strong>UX</strong> for handling the various technical
      issues encountered within the engineering department.
      Implementation of the User’s login <strong>Django-Model</strong> of the application using
      <strong>MySQL</strong> while verifying and testing the gathered  data.
      Improving various functionality of the intranet application by improving the UI and integration many
      <strong>AJAX functions</strong>. Managing and improving many <strong>Django-Form</strong> for the intranet
      application.
     </p>
  </div>
</div>