<div class="row djiometsa">
    <div class="col-xs-6">
      <h3 style="margin-top: 5px;">Personal Website.</h3>
      <h3 style="margin-top: 5px;"><a href="https://www.dnclovis.com/" target="_blank">www.dnclovis.com</a></h3>
    </div>
    <div class="col-xs-6">
      <h3 style="margin-top: 0px;">Austin Tx.</h3>
      <h3 style="margin-top: 0px">Year 2017.</h3>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p style="margin-top:15px;">
      This personal presentation website is heavily front end oriented. Making use of a <strong>HTML5 Canvas</strong>
      animation on the landing page powered by a JavaScript algorithm. It also make an extenive use of
      <strong>Bootstrap</strong> for mobile friendly devices. This wesite features a google maps integration
      that expands on mouse hover realized with <strong>Jquery</strong> and javascript.
    </p>
    <p>
      On the back end, this application is connected to MySQL to take care of the messages sent via the
      <strong>Email Me</strong> button which appears on the bottom right of the pages. This last, implemented
      with <strong>Ajax</strong>.
    </p>
    <p>
      <strong>Technologies Used</strong>: Python, Django 1.11, MySQL, JavaScript, Django-mySQL, Bootstrap, Html,
      Canvas Animantion, Ajax, Jquery, Git, Github, AWS Eb, AWS Ec2, AWS SeS.
    </p>
    <p>
      <strong>Github Repository</strong>: <a href="https://github.com/ClovisDj/dnclovis" target="_blank">github.com/ClovisDj/dnclovis</a>
    </p>
  </div>
</div>