<div class="row propertyPanorama">
    <div class="col-xs-6">
      <h3 style="margin-top: 5px;">Software Developer, Property Panorama Inc</h3>
      <h3 style="margin-top: 0px">01/2018 - 09/2018</h3>
    </div>
    <div class="col-xs-6">
      <h3 style="margin-top: 5px;">Cleveland - Ohio.</h3>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p style="margin-top:15px;">
      Design and implement data integration with various real estate organizations (MLS) through
      their <b>Api</b>. Development and deployment of various automatic emails, spreadsheet
      with <b>Python-Django</b> notification for customer engagement and driving up revenues.
      Server configuration for recurring tasks scheduling via <b>Linux-CRON</b>.
      Building and improving intranet application, leveraging new technologies
      such as <b>Celery + RabbitMQ</b> Design and implement new agent profile page with improved UI
      and features with direct impact on customer satisfaction and driving up revenues.
      Tracking and fixing bugs that arise on a daily basis with various third party API the company is
      integrated with documenting those in the process.
      Implemented and deployed throughout the company’s products,
      a new images rendering technology aimed at improving Virtual-Tours rendering time, which improved
      dramatically our customer satisfaction index.
     </p>
  </div>
</div>