<div class="row propertyPanorama">
    <div class="col-xs-6">
      <h3 style="margin-top: 5px;">Senior Software Developer, ShipChain Inc</h3>
      <h3 style="margin-top: 0px">10/2018 - Present</h3>
    </div>
    <div class="col-xs-6">
      <h3 style="margin-top: 5px;">Greenville - South Carolina.</h3>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p style="margin-top:15px;">
        Helping design and implement the company backend application platform, consisting in building Api with
        <b>Django Rest Framework</b> and documenting them with <b>openApi</b>. Building various <b>Admin</b> tools in
        an Agile, Continuous development and Integration environment.
     </p>
  </div>
</div>