<div class="summary">
    <h3>Software Engineer.</h3>
    <p>With over 5 years of software engineering experience, I’m a conscientious, fast learner offering the ability
       to assess an organization’s needs and create a complementary, robust web presence. Experienced in all 5
       stages of the web development process including: information gathering, planning, design, development,
       testing and delivery and maintenance. Proficient with a wide array of scripting languages and web
       development tools.
     </p>
</div>