<div class="education">
    <h3 id="education">Education and Trainings</h3>
    <h3>2020.</h3>
    <p>Ongoing in Master of Science in Analytics <strong> Georgia Institute Of Technology, USA</strong>.</p>
    <h3>2017.</h3>
    <p>Python and Django Full Stack Web Developer Bootcamp: <strong>Udemy, USA</strong>.</p>
    <h3>2009.</h3>
    <p>Bachelor Degree in Mechanical Engineering: <strong>Polytechnic University Of Milan - Italy</strong>.</p>
    <h3>2004.</h3>
    <p>University Degree in Mathematics: <strong>University Of Yaounde I - Cameroon </strong>.</p>
    <h3>Note:</h3><p>I'm a <strong>GreenCard Holder</strong> and fluent in English, French and Italian.</p>
  </div>