<div class="education">
    <h3 id="education">Education and Trainings</h3>
    <h3>2020.</h3>
    <p>Ongoing in Master of Science in Analytics <b> Georgia Institute Of Technology, USA</b>.</p>
    <h3>2017.</h3>
    <p>Python and Django Full Stack Web Developer Bootcamp: <b>Udemy, USA</b>.</p>
    <h3>2009.</h3>
    <p>Bachelor Degree in Mechanical Engineering: <b>Polytechnic University Of Milan - Italy</b>.</p>
    <h3>2004.</h3>
    <p>University Degree in Mathematics: <b>University Of Yaounde I - Cameroon </b>.</p>
    <h3>Note:</h3><p>I'm a <b>GreenCard Holder</b> and fluent in English, French and Italian.</p>
  </div>