/*body styling*/
html{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding-bottom: 2em;
  min-height: 100%;
}

/*navivation bar*/
.navig .topbar{
  z-index: 30;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0068B2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5em;
}

.topbar > li {
  float: left;
}

.topbar #contact, .topbar #resume{
  float: right;
}
.topbar > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 11px 18px;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 140%;
  font-weight: 550;
}

.navig .topbar> li > a, .navig > a {
  color: #fff;
}

.navig .topbar > li > a{
  position: relative;
  display: block;
  width: auto;
  height: auto;
  text-align: center ;
  border-top-left-radius: 3.8em 3em;
  border-top-right-radius: 1.6em;
}

.navig .topbar > #brand{
  font-size: 135%;
  font-weight: 550;
}

.navig .topbar > #brand > a{
  width: auto;
  height: 50px;
  padding: 5px 6px 5px 6px;
}

.navig .topbar #brand code{
  background-color: inherit;
  color: #ea5900;
  font-size: 120%;
}

.navig .topbar > #resume:hover, .navig .topbar > #contact:hover{
  padding-top: 7px;
  transition: all 0.5s ease-in;
}

.navig .topbar #resume > a:hover, .navig .topbar #contact > a:hover{
  display: block;
  text-decoration: none;
  background-color: #fff;
  color: #0068B2;
  font-weight: 500;
  font-size: 130%;
  transition: all 0.5s ease-in;
}

@media (min-width: 768px){
  .navig .topbar{
    padding: 0 5em 0 1em;
  }
}

@media (max-width: 768px){
  .navig .topbar{
    padding: 0 1em 0 1em;
  }
}
/*End navigation bar*/

/*footer styling*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
  background-color: #010921;
  text-align: center;
}

.footer .row{
  position: relative;
}

.footer .row .media-body h5{
  display: block;
  margin: 0 auto;
  text-align: right;
  color: #FFF;
}

.footer .row .media-body{
  padding: 8px;
}

.footer .row .media .media-right{
  padding: 8px 5px 3px 5px;
}

.footer .row .media .media-right img{
  height: 15px;
  width: 30px;
}

/*Email Me Styling*/
.email{
  width: auto;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 30px;
  margin: 0;
  padding: 0;
  z-index: 5000;

}

.email > p{
  background-color: #0068B2 !important;
  padding: 5px 10px;
  width: inherit;
  border: none;
  box-shadow: 5px 8px 15px 0px rgba(0,0,0,0.5);
}

.emailForm{
  background-color: #EFEFF2;
  width: inherit;
  height: 500px;
  position: fixed;
  right: 10px;
  bottom: 46px;
  margin: 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 8px 15px 0px rgba(0,0,0,0.5);
  z-index: 4000;

}

.emailForm #closeButton{
  height: 0;
  margin: 0;
  float: left;
  border-radius: 10px;
  border: 1px solid transparent;
}

.emailForm #closeButton button{
  font-size: 15px;
  padding: 0px 4px;
  margin: -52px 0 0 -10px;
  border-radius: 25px;
  color: #fff;
}

.emailForm .form-group{
  margin-bottom: 10px;
}

.emailForm #send{
  float: right;
}
/*End Email*/
