{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/AboutMe.css' %}">
{% endblock %}

{% block title %}
  <title>About Me</title>
{% endblock %}

{% block body %}
  <div class="head">
    <div class="container-fluid">
      <canvas id="animation"></canvas>
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
              <div class="media-left">
                <img id="clo" src="{% static 'image/clovis.jpg' %}" class="media-object" style="width:150px">
              </div>
              <div class="media-body">
                <h1><code>{</code>Clovis_Djiometsa<code>}</code></h1>
                <h2>Full Stack Web Developer</h2>
                <h3>Python <span>|</span> Django <span>|</span> Javascript</h3>
              </div>
        </div>
        </div>
      </div>

    </div>
  </div>

<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="col-xs-12 col-md-6">
        <div class="jumbotron">
          <h2 id="Cm">Cameroon</h2>
          <p>Hello first of all, I would like to thank you. Because if you're reading this it means you have shown a certain interest for my profile.</p>
          <p>My first name is <span>Clovis</span> and last name <span>Djiometsa Ngnitewe</span>. I was born in Cameroon where I got in 2001 a High School degree in <span>Mathematics and Physics</span>. Then I attended the University of Yaounde I where I got an undergraduate degree in Mathematics in 2004. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="col-xs-12 col-md-6 col-md-offset-6">
        <iframe id="myMap" width="100%" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCz-3GnewtlIF3BlBe_JWdibGBxambQO8Q&q=yaounde+cameroon&zoom=5" allowfullscreen>
    </iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="col-xs-12 col-md-6">
        <div class="jumbotron">
          <h2 id="It">Italy</h2>
          <p>Then in 2005 I got admitted at the prestigious <span>Polytechnic University of Milan-Italy</span>. From where I graduated with Honor in 2009 in Mechanical Engineering. Upon graduate I got a job offer from a well established automotive company where I worked as Mechanical Design Engineer. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="col-xs-12 col-md-6 col-md-offset-6">
        <img id="duomo" src="{% static 'image/milan.jpg' %}" class="img-responsive" style="width:100%;" alt="Image Not Found">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="col-xs-12 col-md-6">
        <div class="jumbotron">
          <h2 id="Cn">Canada</h2>
          <p>In late 2014, I immigrate to Canada specifically in the Montreal Area where I worked for Bombardier as Mechanical Design Engineer. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="col-xs-12 col-md-6 col-md-offset-6">
        <img id="montreal" src="{% static 'image/montreal2.jpg' %}" class="img-responsive" style="width:100%;" alt="Image Not Found">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="col-xs-12 col-md-6">
        <div class="jumbotron">
          <h2 id="Us">USA</h2>
          <p>Finally, In December 2016 I Joined my wife in the U.S in the Austin, Texas area. Though, I have always been a tech passionate guy, moving here in the U.S finally made me realize that I could still make this dream comes true. Being a Web Developer!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="col-xs-12 col-md-6 col-md-offset-6">
        <img id="austin" src="{% static 'image/austin.jpg' %}" class="img-responsive" style="width:100%;" alt="Image Not Found">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/Anime.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scrollNavBar.js' %}"></script>
{% endblock %}
