<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thanks for reaching me out</title>
  </head>
  <body>
    <div style="margin-bottom: 10px;">
      <p>Dear <strong>{{ name|title}} </strong></p>
      <p>Thank you for reaching me out , I will be getting in touch with you as soon as possible.</p>
      <p>Yours Sincerely,</p>
    </div>
    <div style="color:#1ea9f9; font-style: italic;">
      <p style="margin-bottom: 0">----</p>
      <p style="margin: 0;">Clovis Djiometsa</p>
      <p style="margin-top: 0;">Full Stack Web Developer</p>
    </div>

  </body>
</html>
