{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block title %}
  <title>Contact</title>
{% endblock %}

{% block ClassName1 %}
  class='active'
{% endblock %}

{% block body %}
<div class="container main">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="jumbotron">
      <div class="header">
        <h3>Contact And Links.</h3>
      </div>
      <p>You can easily email me by clicking the button on the bottom right of this any page of this site and then filling the form.</p>
      <p>Email: <span id="emailContact" style="color: rgb(0, 104, 178)">clovis@dnclovis.com</span></p>
      <div class="row links">
        <div class="col-xs-12">
          <div class="col-xs-6">
            <a href="https://github.com/ClovisDj" target="_blank"><img id="github" src="{% static 'image/GitHub.png' %}" class="img-responsive img-center"  alt="Image Not Found"></a>
          </div>
          <div class="col-xs-6">
            <a href="https://www.linkedin.com/in/clovis-djiometsa-6375ab9/" target="_blank"><img id="linkedin" src="{% static 'image/linkedin.png' %}" class="img-responsive"  alt="Image Not Found"></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
