{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/resume.css' %}">
{% endblock %}

{% block title %}
  <title>Resume</title>
{% endblock %}

{% block ClassName2 %}
  class='active'
{% endblock %}

{% block body %}
<div class="container main">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <div class="header">
        <h3>Clovis Djiometsa Ngnitewe</h3>
        <h4>clovis@djiometsa.com</h4>
      </div>
      <div class="summary">
        <h3>Full Stack Web Developer</h3>
        <p>A conscientious, fast learner offering the ability to assess an organization’s needs and create a complementary, robust web presence. Experienced in all 5 stages of the web development process including: information gathering, planning, design, development, testing and delivery and maintenance. Proficient with a wide array of scripting languages and web development tools.</p>
      </div>
      <div class="tools">

        <h3>Languages:</h3>
        <div class="row">
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Python</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Javascript</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Ruby</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> C++</p>
          </div>
        </div>

        <h3>Front End Tools:</h3>
        <div class="row">
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> HTML5</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Javascript</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Css</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Bootstrap</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Angular2</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Ajax</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Jquery</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Json</p>
          </div>
        </div>

        <h3>Back End Technologies and Frameworks:</h3>
        <div class="row">
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Django</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> SQL</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> MySQL</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> SQLite</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> MongoDB</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Django-ORM</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Apache Server</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Aws</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Aws Ec2</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Aws Eb</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Aws sns</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Aws ses</p>
          </div>
        </div>

        <h3>Productivity Tools:</h3>
        <div class="row">
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Git</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Github</p>
          </div>
          <div class="col-xs-4">
            <p><span style="color: #0068B2;">&#8250;</span> Linux Ubuntu</p>
          </div>
        </div>
        <div class="experience">
          <h3>Web Development Experience</h3>


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
