{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/resume.css' %}">
{% endblock %}

{% block title %}
  <title>Resume</title>
{% endblock %}

{% block ClassName2 %}
  class='active'
{% endblock %}

{% block body %}
<div class="container main">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="jumbotron">
      <div class="header">
        <h3>Clovis Djiometsa Ngnitewe</h3>
        <h4>clovis@djiometsa.com</h4>
      </div>
      <div class="summary">
        <h3>Full Stack Web Developer.</h3>
        <p>A conscientious, fast learner offering the ability to assess an organization’s needs and create a complementary, robust web presence. Experienced in all 5 stages of the web development process including: information gathering, planning, design, development, testing and delivery and maintenance. Proficient with a wide array of scripting languages and web development tools.</p>
      </div>
      <div class="tools">
        <h3>Skills.</h3>
        <div class="row">
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Python</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Javascript</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Ruby</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> C++</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> HTML5</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Javascript</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Css</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Bootstrap</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Angular2</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Ajax</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Jquery</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Json</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Django</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> SQL</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> MySQL</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> RESTful</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> SQLite</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> MongoDB</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Django-ORM</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Apache Server</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Aws</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Aws Ec2</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Aws Eb</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Aws sns</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Aws ses</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Git</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Github</p>
          </div>
          <div class="col-xs-3">
            <p><span style="color: #0068B2;">&#8250;</span> Linux Ubuntu</p>
          </div>
        </div>
      </div>
      <div class="experience">
        <h3>Web Development Experience.</h3>
        <div class="row connect4">
            <div class="col-xs-6">
              <h3 style="margin-top: 5px;">Game Connect Four.</h3>
              <h3 style="margin-top: 0px;">Austin Tx.</h3>
            </div>
            <div class="col-xs-6">
              <h3 style="margin-top: 5px;"><a href="https://www.playconnect4.com/" target="_blank">www.playconnect4.com</a></h3>
              <h3 style="margin-top: 0px">Year 2017.</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p style="margin-top:15px;">Interactive Web application game inspire from the legendary connect four table game. With clean and intuitive <strong>UI</strong>, the front end side of this apllication is optimize for mobile devices and cross-browser compatible. With the use <strong>Bootstrap</strong>.</p>
            <p>On the back end side, the application is connectect to <strong>MySQL</strong> for recording the registered players game's scores which are automatically saved and retrived via <strong>Ajax GET, POST</strong> method. This application also features a <strong>CRUD</strong> methodology to commit in database and modify user's basic personal infos. Once an user is registered, a welcome email will be delivered to the provided email by <strong>admin@playconnect4.com</strong> via the AWS SES service. Furthermore, a <strong><a href="https://www.playconnect4.com/api/" target="_blank">RESTful API</a></strong> has been implemented to GET the serialized users game's scores.</p>
            <p>In the core, the game algorithm is implemented in vanilla <strong>JavaScript</strong> with <strong>Jquery</strong> for the DOM manipulation. This alorithm uses a probabilistic approach to determine the various game's levels.</p>
            <p><strong>Technologies Used</strong>: Python, OOP, Django 1.11, MySQL, JavaScript, Django REST framework, Django-mySQL, Bootstrap, Html, Css, Json, Ajax, Jquery, Git, Github, AWS Eb, AWS Ec2, AWS SeS.</p>
            <p><strong>Github Repository</strong>: <a href="https://github.com/ClovisDj/Playconnect4/tree/deployment" target="_blank">github.com/ClovisDj/Playconnect4/tree/deployment</a></p>
          </div>
        </div>
        <div class="row djiometsa">
            <div class="col-xs-6">
              <h3 style="margin-top: 5px;">Personal Website.</h3>
              <h3 style="margin-top: 0px;">Austin Tx.</h3>
            </div>
            <div class="col-xs-6">
              <h3 style="margin-top: 5px;"><a href="https://www.djiometsa.com/" target="_blank">www.djiometsa.com</a></h3>
              <h3 style="margin-top: 0px">Year 2017.</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p style="margin-top:15px;">This personal presentation website is heavily front end oriented. Making use of a <strong>HTML5 Canvas</strong> animation on the landing page powered by a JavaScript algorithm. It also make an extenive use of <strong>Bootstrap</strong> for mobile friendly devices. This wesite features a google maps integration that expands on mouse hover realized with <strong>Jquery</strong> and javascript.</p>
            <p>On the back end, this application is connected to mySQL to take care of the messages sent via the <strong>Email Me</strong> button which appears on the bottom right of the pages. This last, implemented with <strong>Ajax</strong>.</p>
            <p><strong>Technologies Used</strong>: Python, Django 1.11, MySQL, JavaScript, Django REST framework, Django-mySQL, Bootstrap, Html, Canvas Animantion, Json, Ajax, Jquery, Git, Github, AWS Eb, AWS Ec2, AWS SeS.</p>
          </div>
        </div>
      </div>
      <div class="education">
        <h3>2017.</h3>
        <p>Python and Django Full Stack Web Developer Bootcamp: <strong>Udemy, USA</strong>.</p>
        <h3>2009.</h3>
        <p>Bachelor Degree in Mechanical Engineering: <strong>Polytechnic University Of Milan - Italy</strong>.</p>
        <h3>2004.</h3>
        <p>University Degree in Mathematics: <strong>University Of Yaounde I - Cameroon </strong>.</p>
        <h3>Note:</h3><p>I'm a GreenCard Holder.</p>
      </div>

    </div>
  </div>
  </div>
</div>
{% endblock %}
