/*main styling*/
body {
    background-color: #fff !important;
}
.main{
  background-color: #fff !important;
  margin-top: 20px;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main .col-xs-12{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.container{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.main .col-xs-12 .jumbotron{
  font-family: 'EB Garamond', serif !important;
  font-size: 10px;
  padding: 30px 30px;
  background-color: #fff !important;
}

.main .col-xs-12 .jumbotron .header > h3, .main .col-xs-12 .jumbotron .header > h4{
  margin-top: 0;
}

.main .col-xs-12 .jumbotron .header > h4{
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .col-xs-4 > p{
  margin-bottom: 5px;
  font-size: 20px;
}

.main .col-xs-12 .jumbotron .summary > p{
  font-size: 20px;
}

.main .col-xs-12 .jumbotron .summary > h3{
  width: 175px;
  padding-bottom: 5px;
  margin-top: 25px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .tools > h3{
  width: 55px;
  padding-bottom: 5px;
  margin-bottom: 15px !important;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .tools {
  margin-bottom: 15px !important;
}

.main .col-xs-12 .jumbotron .tools2 > h3{
  width: 55px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .experience > h3{
  width: 105px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .experience .brp{
  border-radius: 10px;
  border: 3px solid rgba(0, 104, 178, 0.7);
  margin-top: 35px;
}

.main .col-xs-12 .jumbotron .experience .connect4{
  border-radius: 10px;
  border: 3px solid rgba(0, 104, 178, 0.7);
  margin: 0;
}

.main .col-xs-12 .jumbotron .experience .propertyPanorama{
  border-radius: 10px;
  border: 3px solid rgba(0, 104, 178, 0.7);
  margin-top: 15px;
}

.main .col-xs-12 .jumbotron .experience .alertmedia{
  border-radius: 10px;
  border: 3px solid rgba(0, 104, 178, 0.7);
  margin: 0;
}

.main .col-xs-12 .jumbotron .experience .djiometsa{
  border-radius: 10px;
  border: 3px solid rgba(0, 104, 178, 0.7);
  margin: 20px 0 0 0;
}

.main .col-xs-12 .jumbotron .education > h3{
  width: 50px;
  padding-bottom: 0;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .education > #education{
  width: 230px;
  margin-bottom: 15px !important;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.jumbotron .education > h3 {
    margin-top: 2px !important;
    margin-bottom: 5px !important;
}

.jumbotron .tools p {
    margin-bottom: 5px !important;
}

/*End main*/
