
/*Nav bar styling*/
.navig .topbar .active > a{
  background-color: #fff;
  color: #0068B2;
  font-weight: 500;
  font-size: 130%;
  padding: 11px 15px 7px 15px;
}

.navig .topbar > #resume{
  padding-top: 7px;
}
/*End Nav bar*/

/*main styling*/
.main{
  margin-top: 80px;
  margin-bottom: 50px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main .col-xs-12{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.container{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.main .col-xs-12 .jumbotron{
  font-family: 'EB Garamond', serif !important;
  font-size: 10px;
  padding: 30px 30px;
  background-color: #fff;
}

@media screen and (max-width: 600px){
  .main .col-xs-12 .jumbotron{
    padding: 30px 20px;
  }
}

.main .col-xs-12 .jumbotron .header > h3, .main .col-xs-12 .jumbotron .header > h4{
  margin-top: 0;
}

.main .col-xs-12 .jumbotron .header > h4{
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .col-xs-4 > p{
  margin-bottom: 5px;
  font-size: 20px;
}

.main .col-xs-12 .jumbotron .summary > p{
  font-size: 20px;
}

.main .col-xs-12 .jumbotron .summary > h3{
  width: 270px;
  padding-bottom: 5px;
  margin-top: 50px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .tools > h3{
  width: 55px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .tools2 > h3{
  width: 55px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .experience > h3{
  width: 225px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .experience .brp{
  border-radius: 10px;
  border: 3px solid rgba(0, 104, 178, 0.7);
  margin: 0;
}

.main .col-xs-12 .jumbotron .experience .connect4{
  border-radius: 10px;
  border: 3px solid rgba(0, 104, 178, 0.7);
  margin: 0;
}

.main .col-xs-12 .jumbotron .experience .djiometsa{
  border-radius: 10px;
  border: 3px solid rgba(0, 104, 178, 0.7);
  margin: 20px 0 0 0;
}

.main .col-xs-12 .jumbotron .education > h3{
  width: 50px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

.main .col-xs-12 .jumbotron .education > #education{
  width: 230px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(0, 104, 178, 0.7);
}

/*End main*/
