<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}

    {% endblock %}
    <link rel="shortcut icon" href="{% static 'logo/logo.png' %}">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% block title %}

    {% endblock %}
  </head>
  <body>
    <div class="navig">
      <div class="nav-sub">
        <ul class="topbar">
          <li id="brand"><a href="{% url 'About_Me' %}"><code>{</code>Clovis<code>}</code></a></li>
          <li id="contact" {% block ClassName1 %} {% endblock %} ><a href="{% url 'contact' %}">Contact</a></li>
          <li id="resume" {% block ClassName2 %} {% endblock %}><a href="{% url 'resume' %}">Resume</a></li>
        </ul>
      </div>

    </div>
    {% block body %}

    {% endblock %}


{% include "email_template.html" %}

{% include "footer.html" %}

    <script type="text/javascript" src="{% static 'js/cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block javascript %}

    {% endblock %}
</body>
</html>
